/* MEYER RESET BELOW */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* MEYER RESET ABOVE */ 

/* div {
    border: solid black;
} */

.mainContainer {
    height: 100vh;
    display: flex;
}


.formContainer {
    flex: 1;
    background-color: #34223A;
    display: flex;
    flex-direction: column;
}

.formSection {
    /* border: red solid; */
    flex: 1;
}

.createAccountText {
    color: white;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
    margin-left: 2rem;
}

.formInputsContainer {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    margin-top: 3rem;
    /* border: solid black; */
    margin-left: 2rem;
}

form {
    /* border: cyan solid; */
    margin-left: 1rem;
}

label {
    color: white;
    font-family: 'Quicksand', sans-serif;
    font-size: 1.1rem;
    font-weight: 300;
    margin-bottom: 0.6rem;
}

input {
    height: 0.8rem;
    background-color: #544258;
    border: none;
    border-radius: 5%;
    width: 12rem;
    color: whitesmoke;
    font-family: 'Quicksand', sans-serif;
    font-size: 1rem;
    box-shadow: inset 0 0 5px black;
    padding: 0.7rem;
}

input:focus {
    /* border: none; */
    outline: orange 1px solid;
}

input:user-invalid {
    outline: 1px solid red;
}

.firstRow, .secondRow, .thirdRow {
    display: flex;
    gap: 7rem;
}

input, label {
    display: block;
}

::placeholder {
    color: rgb(136, 136, 136);
}

.noMatchMessage {
    margin-top: 0.2rem;
    font-family: 'Quicksand', sans-serif;
    color: red;
    font-size: 0.9rem;
    display: none;
}

button[type="submit"] {
    padding: 0.8rem;
    width: 14rem;
    background-color: #ED846E;
    color: whitesmoke;
    border: none;
    border-radius: 0.5rem;
    font-size: 1.2rem;
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    box-shadow: inset 0 0 5px black;
    transition: all 0.2s ease;
    margin-top: 5.6rem;
    margin-left: 2rem;
}

button[type="submit"]:hover {
    box-shadow: inset 0 0 15px black;
    background-color: greenyellow;
    color: black;
}

button[type="submit"]:focus {
    box-shadow: inset 0 0 15px black;
    background-color: greenyellow;
    color: black;
    outline: greenyellow solid 1px;
}

.existingAccountStatement {
    font-family: 'Raleway', sans-serif;
    color: white;
    font-size: 1.1rem;
    font-weight: 200;
    margin-top: 0.7rem;
    margin-left: 2rem;
}

.linktext {
    color: #ED846E;
    text-decoration:none;
    transition: all 0.2s ease;
}

.linktext:hover {
    color: greenyellow;
}

.paragraphContainer {
    height: 34%;
    margin-left: 2rem;
}

.mainParagraph {
    color: white;
    font-family: 'Quicksand', sans-serif;
    font-style: italic;
    font-size: 3em;
    font-weight: 400;
    margin-top: 3rem;
}

.sloganParagraph {
    color: white;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    font-size: 1.5rem;
    margin-top: 1.1rem;
    margin-left: 0.5rem;
}

.imageContainer {
    width: 40%;
    background-image: url(formbackgroundimage.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
}

.textbox {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10rem;
    margin-top: 25%;
    flex: 1;
    background-color: rgba(0, 0, 0, 0.15);
}

.imageText {
    color: white;
    font-family: 'Cute Font', sans-serif;
    font-size: 5.5rem;
    font-weight: 400;
    margin-right: 2.5rem;
    margin-left: -0.5rem;
}

.logoimage {
    width: 11rem;
}








